<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E9747261EBDC7FA00E61D8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E97473F1EBDC7FB00E61D8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E97474A1EBDC7FB00E61D8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
